/* Existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #005f6a;
    text-align: center;
}

/* Ensure headings or other text don't have link-like hover effects */
h1, h2, h3, h4, h5, h6, p {
    cursor: default; /* Removes the "pointer" cursor */
    text-decoration: none; /* Ensures no underline or link style */
}

h2 {

}

a, a:visited, a:active, a:link {
    color: inherit; /* Inherit the text color from the surrounding element */
    text-decoration: underline; /* Keep the underline */
}

a:hover {
    text-decoration: underline;
}

/* New styles for the image and text layout */
.photo-text-container {

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.photo-text-container img {
    width: 250px; /* Set image width to 250px */
    width: 250px;
    margin-right: 20px;
}

.photo-text-container div {
    max-width: 600px;
}
